<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.planit.pev.domain.ods.fall.dao.FallDAO">
    <select id="getFallDetailTextList"
            parameterType="java.lang.String"
            resultType="java.lang.String">
        <![CDATA[
        SELECT ROW_NUMBER() OVER (ORDER BY A.IFFL_DOR_ASTL_CTG_ID, A.IFFL_DOR_ASTL_ITEM_ID)
           || '.'
           || B.IFFL_DOR_ASTL_CTG_NM
           || ' : '
           || C.IFFL_DOR_ASTL_ITEM_NM
           || ' ('
           || C.ITEM_WVAL_VAL::int
           || ')' AS detailText
        FROM ODS.S_MOPPCIEE A
                 INNER JOIN ODS.S_MOPPCIBD B
                            ON A.IFFL_DOR_ASTL_CTG_ID = B.IFFL_DOR_ASTL_CTG_ID
                 INNER JOIN ODS.S_MOPPCICD C
                            ON A.IFFL_DOR_ASTL_CTG_ID = C.IFFL_DOR_ASTL_CTG_ID
                                AND A.IFFL_DOR_ASTL_ITEM_ID = C.IFFL_DOR_ASTL_ITEM_ID
        WHERE A.PT_NO || '_' || A.INPT_DTM::DATE || '_' || A.WRT_SEQ = #{keyId}
        ORDER BY B.SORT_SEQ, C.SORT_SEQ
        ]]>
    </select>
    <select id="getFallTotalText"
            parameterType="java.lang.String"
            resultType="java.lang.String">
        <![CDATA[
        SELECT '총점 : ' || B.IFFL_DOR_CTG_GRP_NM || ' (' || A.IFFL_DOR_ASSM_SCR::INT || ')' AS totalText
        FROM ODS.S_MOPPCIED A
                 INNER JOIN ODS.S_MOPPCIDC B
                            ON A.IFFL_DOR_ASTL_ID = B.IFFL_DOR_ASTL_ID
                                AND A.IFFL_DOR_CTG_GRP_CD = B.IFFL_DOR_CTG_GRP_CD
        WHERE A.PT_NO || '_' || A.INPT_DTM::DATE || '_' || A.WRT_SEQ = #{keyId}
        AND A.LST_YN = 'Y'
        ]]>
    </select>
    <select id="getFallWriterNm"
            parameterType="java.lang.String"
            resultType="java.lang.String">
        <![CDATA[
        SELECT B.STF_NM AS writerNm
        FROM ODS.S_MOPPCIED A
                 INNER JOIN ODS.S_CNLRRUSD B
                            ON A.FSR_STF_NO = B.STF_NO
        WHERE A.PT_NO || '_' || A.INPT_DTM::DATE || '_' || A.WRT_SEQ = #{keyId}
        AND A.LST_YN = 'Y'
        ]]>
    </select>
</mapper>
