<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.planit.pev.domain.ods.function.dao.FunctionDAO">

    <select id="getFunctionRecordList" parameterType="java.lang.String" resultType="ai.planit.pev.domain.ods.record.dto.Record$Response">
        SELECT 'EX'                                                                  AS recordType,
               'D020'                                                         AS recordDetailType,
               '기능검사'                                                                AS itemType,
               (SELECT Z.MDFM_NM
                FROM ODS.S_MRFMFORM Z
                WHERE Z.MDFM_ID = A.MDFM_ID
                  AND Z.MDFM_FOM_SEQ = A.MDFM_FOM_SEQ)                               AS itemNm,
               A.LSH_DTM                                                             AS writingDate,
               NULL                                                                  AS writingDeptCd,
               NULL                                                                  AS writingDeptNm,
               A.LSH_STF_NO                                                          AS writerStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.LSH_STF_NO) AS writerStfNm,
               A.IPPR_ID                                                             AS keyId,
               NULL                                                                  AS pactId,
               NULL                                                                  AS pactTpCd,
               NULL                                                                  AS pactTpNm,
               NULL                                                                  AS ptMedDeptCd,
               NULL                                                                  AS ptMedDeptNm,
               NULL                                                                  AS sortSeq,
               NULL                                                                  AS note,
               A.MDFM_ID                                                             AS mdfmId,
               A.MDFM_FOM_SEQ                                                        AS mdfmFomSeq,
               NULL                                                                  AS mdrcId,
               NULL                                                                  AS mdrcFomSeq
        FROM ODS.S_MSERMMLD A
        WHERE A.IPTN_NO = #{keyId}
          AND MDFM_INPT_NOTM > 0
        ORDER BY IPPR_SEQ
    </select>

    <select id="getFunctionContentList" parameterType="java.lang.String" resultType="ai.planit.pev.strategy.chart.object.function.FunctionContent">
        SELECT A.MDFM_CPEM_ID AS id,
               A.IPTN_CNTE AS content
        FROM ODS.S_MSERMDTD A
        WHERE IPPR_ID = #{keyId}
    </select>

</mapper>
