<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.planit.pev.domain.ods.medical.dao.MedicalDAO">

    <select id="getMedicalData" parameterType="ai.planit.pev.domain.ods.record.dto.Record$Response" resultType="ai.planit.pev.strategy.chart.object.medical.MedicalData">
        SELECT M.sectionId,
               M.id,
               M.parentId,
               CASE
                   WHEN M.elmtCclsCd = '7' AND D.INTG_IMG_FILE_PATH_NM IS NOT NULL THEN 'http://hisimg.snuh.org/' || REGEXP_REPLACE(D.INTG_IMG_FILE_PATH_NM, '\\', '/')
                   ELSE M.content END AS content,
               M."desc"
        FROM (
                 SELECT A.MDFM_SCTN_SEQ                                                      AS sectionId,
                        A.MDFM_CPEM_ID                                                       AS id,
                        A.UPR_MDFM_CPEM_ID                                                   AS parentId,
                        CASE
                            WHEN A.ELMT_CCLS_CD IN ('4', '5', '6') THEN B.MDFM_ELMT_INPT_CNTE
                            WHEN A.ELMT_CCLS_CD = '7' THEN 'http://hisimg.snuh.org/' || REGEXP_REPLACE(C.INTG_IMG_FILE_PATH_NM, '\\', '/')
                            WHEN A.ELMT_CCLS_CD = '9' THEN LEFT(COALESCE(B.MDFM_ELMT_INPT_CNTE, C.DCST_LDAT), 10)
                            ELSE COALESCE(B.MDFM_ELMT_INPT_CNTE, C.DCST_LDAT) END            AS content,
                        CASE
                            WHEN A.ELMT_CCLS_CD IN ('4', '5', '6') THEN A.MDFM_CPEM_CNTE END AS "desc",
                        A.ELMT_CCLS_CD                                                       AS elmtCclsCd,
                        CASE
                            WHEN A.ELMT_CCLS_CD = '7' THEN (
                                            ROW_NUMBER() OVER (PARTITION BY A.ELMT_CCLS_CD ORDER BY A.MDFM_CPEM_ID) - 1)
                            ELSE -1 END                                                      AS imageSeq
                 FROM ODS.S_MRFMFCID A
                          LEFT OUTER JOIN ODS.S_MRDDRECE B
                                          ON B.MDRC_ID = #{mdrcId}
                                              AND B.MDRC_FOM_SEQ = #{mdrcFomSeq}
                                              AND A.MDFM_CPEM_ID = B.MDFM_CPEM_ID
                          LEFT OUTER JOIN ODS.S_MRDDRLFE C
                                          ON C.MDRC_ID = #{mdrcId}
                                              AND C.MDRC_FOM_SEQ = #{mdrcFomSeq}
                                              AND A.MDFM_CPEM_ID = C.MDFM_CPEM_ID
                 WHERE A.MDFM_ID = #{mdfmId}
                   AND A.MDFM_FOM_SEQ = #{mdfmFomSeq}
                   AND A.MDFM_ELMT_CLS_CD = 'V'
                 ORDER BY A.MDFM_SCTN_SEQ, A.MDFM_CPEM_ID, A.UPR_MDFM_CPEM_ID
             ) M
                 LEFT OUTER JOIN ODS.S_MRDDRIMD D
                                 ON D.MDRC_ID = #{mdrcId}
                                     AND D.MDRC_FOM_SEQ = #{mdrcFomSeq}
                                     AND M.imageSeq = D.IMG_SEQ
    </select>

    <select id="getMedicalData2">
        SELECT M.sectionId,
               M.id,
               M.parentId,
               CASE
                   WHEN M.elmtCclsCd = '7' AND D.INTG_IMG_FILE_PATH_NM IS NOT NULL THEN 'http://hisimg.snuh.org/' || REGEXP_REPLACE(D.INTG_IMG_FILE_PATH_NM, '\\', '/')
                   ELSE M.content END AS content,
               M."desc"
        FROM (
                 SELECT DISTINCT A.MDFM_SCTN_SEQ                                             AS sectionId,
                                 A.MDFM_CPEM_ID                                                       AS id,
                                 A.UPR_MDFM_CPEM_ID                                                   AS parentId,
                                 CASE
                                     WHEN A.ELMT_CCLS_CD IN ('4', '5', '6') THEN B.MDFM_ELMT_INPT_CNTE
                                     WHEN A.ELMT_CCLS_CD = '7' THEN 'http://hisimg.snuh.org/' || REGEXP_REPLACE(C.INTG_IMG_FILE_PATH_NM, '\\', '/')
                                     WHEN A.ELMT_CCLS_CD = '9' THEN LEFT(COALESCE(B.MDFM_ELMT_INPT_CNTE, C.DCST_LDAT), 10)
                     ELSE COALESCE(B.MDFM_ELMT_INPT_CNTE, C.DCST_LDAT) END            AS content,
                     CASE
                     WHEN A.ELMT_CCLS_CD IN ('4', '5', '6') THEN A.MDFM_CPEM_CNTE END AS "desc",
                     A.ELMT_CCLS_CD                                                       AS elmtCclsCd,
                     CASE
                     WHEN A.ELMT_CCLS_CD = '7' THEN (
                     ROW_NUMBER() OVER (PARTITION BY A.ELMT_CCLS_CD ORDER BY A.MDFM_CPEM_ID) - 1)
                     ELSE -1 END                                                      AS imageSeq
                 FROM ODS.S_MRFMFCID A
                     LEFT OUTER JOIN ODS.S_MRDDRECE B
                 ON B.MDRC_ID = '45274491'
                     AND B.MDRC_FOM_SEQ = '2'
                     AND A.MDFM_CPEM_ID = B.MDFM_CPEM_ID
                     LEFT OUTER JOIN ODS.S_MRDDRLFE C
                     ON C.MDRC_ID = '45274491'
                     AND C.MDRC_FOM_SEQ = '2'
                     AND A.MDFM_CPEM_ID = C.MDFM_CPEM_ID
                 WHERE 1=1
                   AND C.DCST_LDAT IS NOT NULL
                   AND A.MDFM_FOM_SEQ = '2'
                   AND A.MDFM_ELMT_CLS_CD = 'V'
                 ORDER BY A.MDFM_SCTN_SEQ, A.MDFM_CPEM_ID, A.UPR_MDFM_CPEM_ID
             ) M
                 LEFT OUTER JOIN ODS.S_MRDDRIMD D
                                 ON D.MDRC_ID = '45274491'
                                     AND D.MDRC_FOM_SEQ = '2'
                                     AND M.imageSeq = D.IMG_SEQ
    </select>

    <select id="getSurgeryData" parameterType="ai.planit.pev.domain.ods.record.dto.Record$Response" resultType="ai.planit.pev.strategy.chart.object.medical.SurgeryData">
        SELECT
            (CASE WHEN A.OPRC_ELMT_CLS_CD IN ('13','14') THEN 1
                  WHEN A.OPRC_ELMT_CLS_CD IN ('11','12') THEN 2
                  WHEN A.OPRC_ELMT_CLS_CD IN ('15','16') THEN 3
                  WHEN A.OPRC_ELMT_CLS_CD IN ('17') THEN 4
                  WHEN A.OPRC_ELMT_CLS_CD IN ('21') THEN 5
                  WHEN A.OPRC_ELMT_CLS_CD IN ('22') THEN 6
                  WHEN A.OPRC_ELMT_CLS_CD IN ('23') THEN 7
                  WHEN A.OPRC_ELMT_CLS_CD IN ('32') THEN 8
                  WHEN A.OPRC_ELMT_CLS_CD IN ('31') THEN 9
                  WHEN A.OPRC_ELMT_CLS_CD IN ('33') THEN 10
                END) AS id
             ,(CASE WHEN A.OPRC_ELMT_CLS_CD IN ('13','14') THEN '수술전진단명'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('11','12') THEN '수술명'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('15','16') THEN '수술후진단명'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('17') THEN '수술기타'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('21') THEN '수술전기록_예정수술명'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('22') THEN '수술전기록_수술전진단명'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('23') THEN '수술전기록_기타'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('32') THEN '수술후기록_수술후진단명'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('31') THEN '수술후기록_최종수술명'
                    WHEN A.OPRC_ELMT_CLS_CD IN ('33') THEN '수술후기록_기타'
            END) AS title
             ,SORT_SEQ AS sortSeq
             ,OP_NM_DGNS_NM AS dgndNm
             ,ANST_KND_NM AS kndNm
             ,OP_DTM AS opDtm
             ,(SELECT STF_NM FROM ODS.S_CNLRRUSD WHERE STF_NO = TH1_PFDR_STF_NO	) AS pfdr1Nm
             ,(SELECT STF_NM FROM ODS.S_CNLRRUSD WHERE STF_NO = TH2_PFDR_STF_NO	) AS pfdr2Nm
             ,(SELECT STF_NM FROM ODS.S_CNLRRUSD WHERE STF_NO = TH3_PFDR_STF_NO	) AS pfdr3Nm
             ,(SELECT STF_NM FROM ODS.S_CNLRRUSD WHERE STF_NO = TH1_ATDR_STF_NO	) AS atdr1Nm
             ,(SELECT STF_NM FROM ODS.S_CNLRRUSD WHERE STF_NO = TH2_ATDR_STF_NO	) AS atdr2Nm
             ,(SELECT STF_NM FROM ODS.S_CNLRRUSD WHERE STF_NO = TH3_ATDR_STF_NO	) AS atdr3Nm
             ,(SELECT STF_NM FROM ODS.S_CNLRRUSD WHERE STF_NO = TH4_ATDR_STF_NO	) AS atdr4Nm
        FROM ODS.S_MRDDRONE A
        WHERE A.MDRC_ID      = #{mdrcId}
          AND A.MDRC_FOM_SEQ = #{mdrcFomSeq}
        ORDER BY id, sortSeq
    </select>

    <select id="getMedicalImageData" parameterType="ai.planit.pev.domain.ods.medical.dto.MedicalImage$Request" resultType="java.lang.String">
        SELECT INTG_IMG_FILE_PATH_NM
        FROM ODS.S_MRDDRIMD
        WHERE MDRC_ID = #{mdrcId}
        AND MDRC_FOM_SEQ = #{mdrcFomSeq}
        ORDER BY INTG_IMG_FILE_PATH_NM
    </select>

    <select id="getMedicalRecordFormatList" parameterType="ai.planit.pev.domain.meta.record.dto.MetaRecordFormat$Request" resultType="ai.planit.pev.domain.meta.record.dto.MetaRecordFormat$Response">
        SELECT MDFM_CLS_CD                    AS recordId,
        MDFM_ID                               AS mdfmId,
        MDFM_FOM_SEQ                          AS mdfmFomSeq,
        MDFM_SCTN_SEQ                         AS sectionId,
        MDFM_CPEM_ID                          AS id,
        UPR_MDFM_CPEM_ID                      AS parentId,
        MDFM_CPEM_NO                          AS mdfmCpemNo,
        CASE
        WHEN MDFM_ELMT_CLS_CD = 'E' THEN 'ENTITY'
        WHEN MDFM_ELMT_CLS_CD = 'A' THEN 'ATTRIBUTE'
        WHEN MDFM_ELMT_CLS_CD = 'AV' THEN 'ATTRIBUTE'
        WHEN MDFM_ELMT_CLS_CD = 'V' THEN 'VALUE'
        ELSE 'UNKNOWN' END                AS classType,
        CASE
        WHEN ELMT_CCLS_CD = '1' THEN 'LABEL'
        WHEN ELMT_CCLS_CD = '2' THEN 'TEXT_BOX'
        WHEN ELMT_CCLS_CD = '3' THEN 'RICH_TEXT_BOX'
        WHEN ELMT_CCLS_CD = '4' THEN 'COMBO_BOX'
        WHEN ELMT_CCLS_CD = '5' THEN 'CHECK_BOX'
        WHEN ELMT_CCLS_CD = '6' THEN 'RADIO_BUTTON'
        WHEN ELMT_CCLS_CD = '7' THEN 'IMAGE'
        WHEN ELMT_CCLS_CD = '8' THEN 'NUMERIC_TEXT_BOX'
        WHEN ELMT_CCLS_CD = '9' THEN 'DATE_TEXT_BOX'
        WHEN ELMT_CCLS_CD = '12' THEN 'DATA_GRID'
        ELSE 'UNKNOWN' END             AS controlType,
        NULL                                  as maskingType,
        ISNULL(MDFM_CPEM_CNTE, ELMT_BSC_CNTE) AS content,
        ELMT_BSC_CNTE                         AS "desc",
        LSH_DTM                               AS loadDtm
        FROM ods.S_MRFMFCID
        WHERE MDFM_CLS_CD IN ('D001', 'D002', 'D003', 'D004', 'D005', 'D006', 'D007', 'D008', 'D009', 'D010', 'D011', 'D020', 'D030', 'D031', 'D035')
        <![CDATA[
          AND LSH_DTM::DATE >= #{startDate}::DATE
          AND LSH_DTM::DATE < #{endDate}::DATE
        ]]>
        ORDER BY MDFM_CLS_CD, MDFM_ID, MDFM_FOM_SEQ, MDFM_SCTN_SEQ, MDFM_CPEM_ID, UPR_MDFM_CPEM_ID
    </select>

    <select id="getChartStyleList" parameterType="ai.planit.pev.strategy.chart.object.common.ChartStyleXml$Request" resultType="ai.planit.pev.strategy.chart.object.common.ChartStyleXml$Response">
        SELECT MDFM_ID            AS mdfmId,
               MDFM_FOM_SEQ       AS mdfmFormSeq,
               MDFM_SCTN_SEQ      AS mdfmSctnSeq,
               SCTN_DGN_META_LDAT AS sctnDgnMetaLdat
        FROM ODS.S_MRFMFSCD
        WHERE MDFM_CLS_CD = #{mdfmClsCd}
          AND MDFM_ID = #{mdfmId}
          AND MDFM_FOM_SEQ = #{mdfmFomSeq}
        ORDER BY MDFM_ID, MDFM_FOM_SEQ, MDFM_SCTN_SEQ
    </select>

    <select id="getMedicalReplyRecord" parameterType="ai.planit.pev.strategy.chart.object.medical.MedicalReply$Request" resultType="ai.planit.pev.domain.ods.record.dto.Record$Response">
        SELECT 'DR' AS recordType,
                A.MDFM_CLS_CD AS recordDetailType,
                (SELECT Z.COMN_CD_NM FROM ODS.S_CCCCCSTE Z WHERE Z.COMN_GRP_CD = 'RDO062' AND Z.COMN_CD = A.MDFM_CLS_DTL_CD) AS
                itemType,
                (SELECT Z.COMN_CD_NM FROM ODS.S_CCCCCSTE Z WHERE Z.COMN_GRP_CD = 'RDO062' AND Z.COMN_CD = A.MDFM_CLS_DTL_CD) AS
                itemNm,
                A.MDF_REC_DTM::DATE AS writingDate,
                A.WRTR_DEPT_CD AS writingDeptCd,
                (SELECT Z.DEPT_NM FROM ODS.S_PDEDBMSM Z WHERE Z.DEPT_CD = A.WRTR_DEPT_CD) AS writingDeptNm,
                A.WRT_STF_NO AS writerStfNo,
                (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.WRT_STF_NO) AS writerNm,
                NULL AS keyId,
                A.PACT_ID AS pactId,
                A.PACT_TP_CD AS pactTpCd,
                DECODE(A.PACT_TP_CD, 'I', '입원', 'O', '외래', 'E', '응급', NULL) AS pactTpNm,
                A.PT_MED_DEPT_CD AS ptMedDeptCd,
                (SELECT Z.DEPT_NM FROM ODS.S_PDEDBMSM Z WHERE Z.DEPT_CD = A.PT_MED_DEPT_CD) AS ptMedDeptNm,
                ROW_NUMBER()
                OVER (PARTITION BY TO_CHAR(A.MDF_REC_DTM, 'YYYY-MM-DD') ORDER BY A.REC_DTM DESC) AS sortSeq,
                NULL AS note,
                A.MDFM_ID AS mdfmId,
                A.MDFM_FOM_SEQ AS mdfmFomSeq,
                A.MDRC_ID AS mdrcId,
                A.MDRC_FOM_SEQ AS mdrcFomSeq,
                NULL AS examKey,
                NULL AS pacsImgIptnCd,
                NULL AS accsId,
                NULL AS recType,
                NULL AS geneExmYn,
                CASE WHEN A.MDRC_WRT_STS_CD <![CDATA[>]]> 10 THEN 'Y' END AS mdrcWrtStsCdYn,
                NULL AS opExptRegId
        FROM ODS.S_MRDDRECM A
        INNER JOIN ODS.S_MRDDRCNE B
        ON B.MDRC_ID = #{mdrcId}
        AND B.MDRC_FOM_SEQ = #{mdrcFomSeq}
        AND A.MDRC_ID = B.ODRPY_MDRC_ID
        AND A.MDRC_FOM_SEQ = B.ODRPY_MDRC_FOM_SEQ
        WHERE A.MDFM_CLS_CD = 'D008'
        AND A.LST_YN = 'Y'
        AND A.MDRC_DC_TP_CD = 'C'
        AND NOT EXISTS(SELECT 1 FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.WRT_STF_NO AND Z.OCTY_TP_CD = 'Z06')
    </select>
    
    <select id="S_PDEDBMSM">
        select ANALYZE_STATISTICS('ODS.S_PDEDBMSM')
    </select>

    <select id="S_MSERMAAD">
        select ANALYZE_STATISTICS('ODS.S_MSERMAAD')
    </select>

    <select id="S_MSERMMMC">
        select ANALYZE_STATISTICS('ODS.S_MSERMMMC')
    </select>

    <select id="S_MOOOREXM">
        select ANALYZE_STATISTICS('ODS.S_MOOOREXM')
    </select>

    <select id="S_MSEPMPMD">
        select ANALYZE_STATISTICS('ODS.S_MSEPMPMD')
    </select>

    <select id="S_MSELMCTC">
        select ANALYZE_STATISTICS('ODS.S_MSELMCTC')
    </select>

    <select id="S_MSELMCED">
        select ANALYZE_STATISTICS('ODS.S_MSELMCED')
    </select>

    <select id="S_MSELMEBM">
        select ANALYZE_STATISTICS('ODS.S_MSELMEBM')
    </select>

    <select id="S_MSELMAID">
        select ANALYZE_STATISTICS('ODS.S_MSELMAID')
    </select>

    <select id="S_CCOOCCSC">
        select ANALYZE_STATISTICS('ODS.S_CCOOCCSC')
    </select>

    <select id="S_MSERMZED">
        select ANALYZE_STATISTICS('ODS.S_MSERMZED')
    </select>

</mapper>
