<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.planit.pev.domain.ods.order.dao.OrderDAO">
    <select id="getOrderSectionList" parameterType="ai.planit.pev.domain.ods.order.dto.OrderSection$Request" resultType="ai.planit.pev.domain.ods.order.dto.OrderSection$Response">
        <![CDATA[
        SELECT DISTINCT A.ODAPL_POP_CD AS odaplPopCd,
                        (SELECT Z.COMN_CD_NM FROM ODS.S_CCCCCSTE Z WHERE Z.COMN_GRP_CD = 'MD00017' AND Z.COMN_CD = A.ODAPL_POP_CD) AS odaplPopNm,
                        A.FSR_STF_NO AS fsrStfNo,
                        (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.FSR_STF_NO) AS fsrStfNm
        FROM ODS.S_MOOORPTD A
        WHERE A.PT_NO = #{ptNo}
          AND A.MED_PACT_TP_CD = #{medPactTpCd}
          AND A.ORD_DT::DATE = #{ordDt}::DATE
          AND A.ORD_CTG_CD NOT IN ('TRM')
        ORDER BY A.ODAPL_POP_CD, fsrStfNm
        ]]>
    </select>
    <select id="getOrderDataList" parameterType="ai.planit.pev.domain.ods.order.dto.OrderData$Request" resultType="ai.planit.pev.domain.ods.order.dto.OrderData$Response">
        <![CDATA[
        SELECT A.ORD_NM AS ordNm /* 추후 상세 데이터 구현 */,
               TO_CHAR(A.FSR_DTM, 'YYYY-MM-DD HH:mm:SS') AS fsrDtm,
               NULL AS fmtInfo /* 추후 수행사인 정보 구현 */,
               *
        FROM ODS.S_MOOORPTD A
        WHERE A.PT_NO = #{ptNo}
          AND A.MED_PACT_TP_CD = #{medPactTpCd}
          AND A.ORD_DT::DATE = #{ordDt}::DATE
          AND A.ODAPL_POP_CD = #{odaplPopCd}
          AND A.FSR_STF_NO = #{fsrStfNo}
          AND A.ORD_CTG_CD NOT IN ('TRM')
        ORDER BY A.ODAPL_POP_CD, FSR_STF_NO, SCRN_SORT_SEQ
        ]]>
    </select>
</mapper>
