<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.planit.pev.domain.meta.event.dao.EventDAO">

    <insert id="insertEvent" parameterType="ai.planit.pev.domain.meta.event.dto.Event" useGeneratedKeys="true" keyProperty="id">
        insert into pev_event_log (type, pt_no, search_targets, search_from_date, search_to_date, pact_tp_cd, dept_type, dept_cd, stf_no, stf_nm, load_dtm)
        values (#{type}, #{ptNo}, #{searchTargets}, #{searchFromDate}, #{searchToDate}, #{pactTpCd}, #{deptType}, #{deptCd}, #{stfNo}, #{stfNm}, now())
    </insert>

    <select id="getLogEvent" resultType="ai.planit.pev.domain.meta.event.dto.Event">
        select id as id,
               type as type,
               pt_no as ptNo,
               search_targets as searchTargets,
               search_from_date as searchFromDate,
               search_to_date as searchToDate,
               pact_tp_cd as pactTpCd,
               dept_type as deptType,
               dept_cd as deptCd,
               stf_no as stfNo,
               stf_nm as stfNm,
               to_char(load_dtm, 'YYYY-MM-DD HH24:MI:SS') as loadDtm
        from pev_event_log
        order by load_dtm desc
    </select>

    <select id="getEventSearchTargetDistribution" resultType="ai.planit.pev.domain.meta.event.dto.EventSearchTargetDistribution">
        select unnest(string_to_array(search_targets, ', ')) as searchTargets,
               count(*) as count
        from pev_event_log
        group by searchTargets
        order by count desc
        limit 10
    </select>

</mapper>
