<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.planit.pev.domain.meta.user.dao.UserDAO">

    <insert id="insertLoginLog" parameterType="ai.planit.idp.sdk.model.IdpLoginUser">
        insert into pev_login_log (stf_no, stf_nm, dept_cd, dept_nm, auth_cd, login_dtm)
        values (#{stfNo}, #{stfNm}, #{deptCd}, #{deptNm}, #{authCd}, now())
    </insert>

    <select id="getLogUser" resultType="ai.planit.pev.domain.meta.report.dto.Log">
        select row_number() over (order by login_dtm) as rowNum,
                stf_no as stfNo,
               stf_nm as stfNm,
               dept_cd as deptCd,
               dept_nm as deptNm,
               auth_cd as authCd,
               to_char(login_dtm, 'YYYY-MM-DD HH24:MI:SS') as loginDtm
        from pev_login_log
        where dept_nm != '플랜잇'
        order by login_dtm desc
    </select>

    <select id="getStatisticsUserMonth" resultType="ai.planit.pev.domain.meta.user.dto.UserLoginWeek">
        select date_trunc('month', login_dtm)::date as weekFromMonday,
               count(*) as count
        from pev_login_log
        where dept_nm != '플랜잇'
        group by weekFromMonday
        order by weekFromMonday desc
        limit 12
    </select>

    <select id="getStatisticsUserDay" resultType="ai.planit.pev.domain.meta.user.dto.UserLoginDay">
        select date_trunc('day', login_dtm)::date as day,
               count(*) as count
        from pev_login_log
        where dept_nm != '플랜잇'
        group by day
        order by day desc
        limit 14
    </select>

    <select id="getStatisticsUserHour" resultType="ai.planit.pev.domain.meta.user.dto.UserLoginHour">
        select EXTRACT(hour from login_dtm) as hour,
               count(*) as count
        from pev_login_log
        where dept_nm != '플랜잇'
        group by hour
        order by hour
    </select>

    <select id="getStatisticsUserDept" resultType="ai.planit.pev.domain.meta.user.dto.UserLoginDept">
        select dept_nm as deptNm,
               count(*) as count
        from pev_login_log
        where dept_nm != '플랜잇'
        group by dept_nm
        order by count desc
    </select>

</mapper>
