<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FormFixedSectionMapper">
    <select id="getFixedSectionItemsInSurgery" parameterType="FormIdentifier" resultType="FormFixedSectionItemsInSurgery">
        SELECT A.OPRC_ELMT_CLS_CD AS oprcElmtClsCd,
               A.SORT_SEQ AS sortSeq,
               A.OP_NM_DGNS_NM AS opNmDgnsNm,
               A.ANST_KND_NM AS anstKndNm,
               OP_DTM::DATE AS opDtm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.TH1_PFDR_STF_NO) AS th1PfdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.TH2_PFDR_STF_NO) AS th2PfdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.TH3_PFDR_STF_NO) AS th3PfdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.TH1_ATDR_STF_NO) AS th1AtdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.TH2_ATDR_STF_NO) AS th2AtdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.TH3_ATDR_STF_NO) AS th3AtdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.TH4_ATDR_STF_NO) AS th4AtdrStfNm
        FROM ODS.S_MRDDRONE A
        WHERE A.MDRC_ID = #{mdrcId}
          AND A.MDRC_FOM_SEQ = #{mdrcFomSeq}
        ORDER BY OPRC_ELMT_CLS_CD
    </select>
</mapper>
