<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HospitalMapper">
    <select id="getDepartmentList" resultType="Department">
        SELECT
            DEPT_CD AS deptCd,
            DEPT_NM AS deptNm
        FROM ODS.S_PDEDBMSM
        ORDER BY SORT_SEQ
    </select>
</mapper>
