<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientMapper">
    <select id="getPatient" parameterType="java.lang.String" resultType="Patient">
        <![CDATA[
        SELECT A.PT_NO                                             AS id,
               REGEXP_REPLACE(A.PT_NM, '.', '*', 2)                AS name,
               DECODE(A.SEX_TP_CD, 'M', '남성', 'F', '여성', '미상')     AS gender,
               REGEXP_REPLACE(A.PT_BRDY_DT::VARCHAR, '\d', '*', 8) AS dob
        FROM ODS.S_PCTPCPAM A
        WHERE A.PT_NO = #{ptNo}
        ]]>
    </select>
</mapper>
