<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientMapper">
    <select id="getPatientInfo" parameterType="java.lang.String" resultType="PatientDTO">
        <![CDATA[
        SELECT PT_NO      AS ptNo,
               PT_NM      AS ptNm,
               SEX_TP_CD  AS sexTpCd,
               PT_BRDY_DT AS ptBrdyDt
        FROM ODS.S_PCTPCPAM
        WHERE 1 = 1
          AND PT_NO = #{ptNo}
        ]]>
    </select>
</mapper>
