<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PictureMapper">
    <select id="getPictureDataList"
            parameterType="ai.planit.pev.domain.picture.dto.PictureData$Request"
            resultType="ai.planit.pev.domain.picture.dto.PictureData$Response">
        SELECT B.IPTN_DTM::DATE AS iptnDtm,
               B.EXM_DT::DATE AS exmDt,
               (SELECT Z.ORD_NM FROM ODS.S_CCOOCBAC Z WHERE Z.ORD_CD = A.ORD_CD) AS ordNm,
               B.IPTN_CNCS_CNTE AS iptnCncsCnte,
               B.TH1_IPTN_EXPL AS th1IptnExpl,
               C.COPN_CNTE AS copnCnte,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = B.TH1_IPDR_STF_NO) AS th1IpdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = B.TH2_IPDR_STF_NO) AS th2IpdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = B.TH3_IPDR_STF_NO) AS th3IpdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = B.TH4_IPDR_STF_NO) AS th4IpdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = B.TH5_IPDR_STF_NO) AS th5IpdrStfNm,
               (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = B.TH6_IPDR_STF_NO) AS th6IpdrStfNm
        FROM ODS.S_MSERMAAD A
                 INNER JOIN ODS.S_MSERMDDD B
                            ON A.IPTN_NO = B.IPTN_NO
                 INNER JOIN ODS.S_MOOOREXM C
                            ON A.ORD_ID = C.ORD_ID
        WHERE A.IPTN_NO = #{iptnNo};
    </select>
</mapper>
