<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecordMapper">
    <select id="getDeptInfoList" resultType="DeptInfoDTO">
        <![CDATA[
        SELECT DEPT_CD AS deptCd,
               DEPT_NM AS deptNm
        FROM ODS.S_PDEDBMSM
        ORDER BY SORT_SEQ
        ]]>
    </select>
    <select id="getRecordXmlForm" parameterType="RecordXmlFormRequestDTO" resultType="RecordXmlFormResponseDTO">
        SELECT MDFM_ID AS mdfmId,
               MDFM_FOM_SEQ AS mdfmFormSeq,
               MDFM_SCTN_SEQ AS mdfmSctnSeq,
               SCTN_DGN_META_LDAT AS sctnDgnMetaLdat
        FROM ODS.S_MRFMFSCD
        WHERE 1=1
          AND MDFM_ID = #{mdfmId}
          AND MDFM_FOM_SEQ = #{mdfmFomSeq}
        ORDER BY MDFM_ID, MDFM_FOM_SEQ, MDFM_SCTN_SEQ
    </select>
    <select id="getRecordValueList" parameterType="RecordValueRequestDTO" resultType="RecordValueResponseDTO">
        SELECT K.MDRC_ID AS mdrcId,
               K.MDRC_FOM_SEQ AS mdrcFomSeq,
               K.MDFM_CPEM_ID AS mdfmCpemId,
               K.MDFM_CPEM_NO AS mdfmCpemNo, -- ID
               K.MDRC_CMPS_SEQ AS mdrcCmpsSeq,
               K.REC_VAL_SEQ AS recValSeq,
               K.MDFM_ELMT_CCLS_CD AS mdfmElmtCclsCd,
               K.MDFM_ELMT_OPTP_CD AS mdfmElmtOptpCd,
               K.SGKY_NO AS sgkyNo,
               K.MGPT_TP_CHR_VAL AS mgptTpChrVal,
               K.VALUE_TYPE AS valueType, -- IF
               V.MDFM_ELMT_INPT_CNTE AS mdfmElmtInptCnte, -- V면
               V.MDFM_ELMT_INPT_TAG_CNTE AS mdfmElmtInptTagCnte,
               LV.DCST_LDAT AS dcstLdat, -- LV면
               LV.FSRC_DCST_LDAT AS fsrcDcstLdat,
               LV.FCHG_DCST_LDAT AS fchgDcstLdat,
               LV.IMG_TMPL_PATH_NM AS imgTmplPathNm,
               LV.IMG_NOAT_CNTE AS imgNoatCnte,
               LV.INTG_IMG_FILE_PATH_NM AS intgImgFilePathNm
        FROM (
                 SELECT MDRC_ID,
                        MDRC_FOM_SEQ,
                        MDFM_CPEM_ID,
                        MDFM_CPEM_NO,
                        MDRC_CMPS_SEQ,
                        REC_VAL_SEQ,
                        MDFM_ELMT_CCLS_CD,
                        MDFM_ELMT_OPTP_CD,
                        SGKY_NO,
                        MGPT_TP_CHR_VAL,
                        'V' AS VALUE_TYPE
                 FROM ODS.S_MRDDRECE
                 WHERE 1 = 1
                   AND MDRC_ID = #{mdrcId}
                   AND MDRC_FOM_SEQ = #{mdrcFomSeq}
                 UNION ALL
                 SELECT MDRC_ID,
                        MDRC_FOM_SEQ,
                        MDFM_CPEM_ID,
                        MDFM_CPEM_NO,
                        MDRC_CMPS_SEQ,
                        REC_VAL_SEQ,
                        MDFM_ELMT_CCLS_CD,
                        MDFM_ELMT_OPTP_CD,
                        SGKY_NO,
                        MGPT_TP_CHR_VAL,
                        'LV' AS VALUE_TYPE
                 FROM ODS.S_MRDDRLFE
                 WHERE 1 = 1
                   AND MDRC_ID = #{mdrcId}
                   AND MDRC_FOM_SEQ = #{mdrcFomSeq}
             ) K
                 LEFT OUTER JOIN (
            SELECT MDRC_ID,
                   MDRC_FOM_SEQ,
                   MDFM_CPEM_ID,
                   MDFM_CPEM_NO,
                   MDFM_ELMT_INPT_CNTE,
                   MDFM_ELMT_INPT_TAG_CNTE
            FROM ODS.S_MRDDRECE
            WHERE 1 = 1
              AND MDRC_ID = #{mdrcId}
              AND MDRC_FOM_SEQ = #{mdrcFomSeq}
        ) V
                                 ON K.MDRC_ID = V.MDRC_ID
                                     AND K.MDRC_FOM_SEQ = V.MDRC_FOM_SEQ
                                     AND K.MDFM_CPEM_ID = V.MDFM_CPEM_ID
                                     AND K.MDFM_CPEM_NO = V.MDFM_CPEM_NO
                 LEFT OUTER JOIN (
            SELECT MDRC_ID,
                   MDRC_FOM_SEQ,
                   MDFM_CPEM_ID,
                   MDFM_CPEM_NO,
                   DCST_LDAT,
                   FSRC_DCST_LDAT,
                   FCHG_DCST_LDAT,
                   IMG_TMPL_PATH_NM,
                   IMG_NOAT_CNTE,
                   INTG_IMG_FILE_PATH_NM
            FROM ODS.S_MRDDRLFE
            WHERE 1 = 1
              AND MDRC_ID = #{mdrcId}
              AND MDRC_FOM_SEQ = #{mdrcFomSeq}
        ) LV
                                 ON K.MDRC_ID = LV.MDRC_ID
                                     AND K.MDRC_FOM_SEQ = LV.MDRC_FOM_SEQ
                                     AND K.MDFM_CPEM_ID = LV.MDFM_CPEM_ID
                                     AND K.MDFM_CPEM_NO = LV.MDFM_CPEM_NO
    </select>
    <select id="getCertificateListByPtNo" parameterType="java.lang.String" resultType="CertificateDTO">
        SELECT 'DR'                                                                                            AS recordType
             , B.COMN_CD_NM                                                                                    AS itemType
             , C.MDFM_NM                                                                                       AS itemNm
             , A.MDF_REC_DTM                                                                                   AS writingDate
             , A.WRTR_DEPT_CD                                                                                  AS writingDeptCd
             , (SELECT Z.DEPT_NM
                FROM ODS.S_PDEDBMSM Z
                WHERE Z.DEPT_CD = A.WRTR_DEPT_CD)                                                              AS writingDeptNm
             , A.WRT_STF_NO                                                                                    AS writerStfNo
             , (SELECT Z.STF_NM FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.WRT_STF_NO)                           AS writerNm
             , 'DR_' || A.MDFM_CLS_CD || '_' || A.MDFM_CLS_DTL_CD || '_' || A.MDRC_ID || '_' || A.MDRC_FOM_SEQ AS keyId
             , A.MDRC_ID                                                                                       AS mdrcId
             , CASE WHEN MDRC_WRT_STS_CD IN ('11', '12') THEN 'Y' ELSE 'N' END                                 AS mdrcWrtStsCd
             , CASE
                   WHEN MDRC_WRT_STS_CD IN ('11', '12')
                       THEN A.MDRC_ID || '_' || A.MDRC_FOM_SEQ END                                             AS dgnsRerRcdcNo
             , NVL((SELECT MAX('Y')
                    FROM ODS.S_MRDDREPG Z
                    WHERE Z.MDRC_ID = A.MDRC_ID
                      AND Z.MDRC_FOM_SEQ = A.MDRC_FOM_SEQ
                      AND PRNT_YN = 'Y'),
                   'N')                                                                                        AS prntYn
             , DECODE(A.PACT_TP_CD, 'I', '입원', 'O', '외래', 'E', '응급')                                           AS pactTpCd
             , A.HSP_TP_CD                                                                                     AS hspTpCd
             , A.PT_NO                                                                                         AS ptNo
        FROM ODS.S_MRDDRECM A
           , ODS.S_CCCCCSTE B
           , ODS.S_MRFMFORM C
        WHERE 1 = 1
          AND A.PT_NO = #{ptNo}
          AND A.LST_YN = 'Y'
          AND A.MDRC_DC_TP_CD = 'C'
          AND A.MDFM_CLS_CD IN ('D009', 'D035')
          AND B.COMN_GRP_CD = 'RDO062'
          AND B.COMN_CD = A.MDFM_CLS_DTL_CD
          AND C.MDFM_CLS_CD = A.MDFM_CLS_CD
          AND C.MDFM_ID = A.MDFM_ID
          AND C.MDFM_FOM_SEQ = A.MDFM_FOM_SEQ
        ORDER BY REC_DTM DESC
    </select>
    <select id="getMedicalRecordListByCondition" parameterType="DetailRequestDTO" resultType="DetailResponseDTO">
        SELECT 'DR' AS recordType,
        A.MDFM_CLS_CD AS recordDetailType,
        COMN.COMN_CD_NM AS itemType,
        CASE WHEN A.MDFM_CLS_CD = 'D020' THEN FORM.MDFM_NM ELSE COMN.COMN_CD_NM END AS itemNm,
        CASE
        WHEN A.MDFM_CLS_CD IN ('D001', 'D002', 'D003', 'D004', 'D031') THEN A.MED_DT
        ELSE A.MDF_REC_DTM::DATE END AS writingDate,
        A.WRTR_DEPT_CD AS writingDeptCd,
        DEPT.DEPT_NM AS writingDeptNm,
        A.WRT_STF_NO AS writerStfNo,
        STFF.STF_NM AS writerNm,
        NULL AS keyId,
        A.PACT_ID AS pactId,
        DECODE(A.PACT_TP_CD, 'I', '입원', 'O', '외래', 'E', '응급', NULL) AS pactTpCd,
        ROW_NUMBER()
        OVER (PARTITION BY TO_CHAR(A.MDF_REC_DTM, 'YYYY-MM-DD') ORDER BY A.REC_DTM DESC) AS sortSeq,
        NULL AS note,
        A.MDFM_ID AS mdfmId,
        A.MDFM_FOM_SEQ AS mdfmFomSeq,
        A.MDRC_ID AS mdrcId,
        A.MDRC_FOM_SEQ AS mdrcFomSeq,
        NULL AS examKey,
        NULL AS pacsImgIptnCd,
        NULL AS accsId,
        NULL AS recType,
        NULL AS geneExmYn,
        CASE WHEN A.MDRC_WRT_STS_CD <![CDATA[>]]> 10 THEN 'Y' END AS mdrcWrtStsCdYn,
        NULL AS opExptRegId
        FROM ODS.S_MRDDRECM A
        LEFT OUTER JOIN ODS.S_CCCCCSTE COMN ON COMN.COMN_GRP_CD = 'RDO062' AND A.MDFM_CLS_DTL_CD = COMN.COMN_CD
        LEFT OUTER JOIN ODS.S_PDEDBMSM DEPT ON A.WRTR_DEPT_CD = DEPT.DEPT_CD
        LEFT OUTER JOIN ODS.S_CNLRRUSD STFF ON A.WRT_STF_NO = STFF.STF_NO
        LEFT OUTER JOIN ODS.S_MRFMFORM FORM ON A.MDFM_ID = FORM.MDFM_ID AND A.MDFM_FOM_SEQ = FORM.MDFM_FOM_SEQ
        WHERE 1 = 1
        AND A.PT_NO = #{ptNo}
        AND A.MDFM_CLS_CD NOT IN ('D005', 'D006', 'D007')
        AND A.MDFM_CLS_CD IN
        <foreach collection="detailType" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        AND (
        (A.MDFM_CLS_CD IN ('D001', 'D002', 'D003', 'D004', 'D031') AND
        A.MED_DT::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE)
        OR
        (A.MDFM_CLS_CD NOT IN ('D001', 'D002', 'D003', 'D004', 'D031') AND
        A.MDF_REC_DTM::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE)
        )
        AND A.PACT_TP_CD = DECODE(#{pactTpCd}, 'ALL', A.PACT_TP_CD, #{pactTpCd})
        AND A.LST_YN = 'Y'
        AND A.MDRC_DC_TP_CD = 'C'
        <if test="deptType == 'MEDICAL'">AND A.PT_MED_DEPT_CD = #{deptCd}</if>
        <if test="deptType == 'WRITER'">AND A.WRTR_DEPT_CD = #{deptCd}</if>
        <if test="writerType == 'SELF'">AND A.WK_SID = #{writerStfNo}</if>
        <if test="writerType == 'SEARCH'">AND A.WK_STF_NO = #{writerStfNo}</if>
        AND NOT EXISTS(SELECT 1 FROM ODS.S_MRFMFORM Z WHERE A.MDFM_ID = Z.MDFM_ID AND A.MDFM_FOM_SEQ = Z.MDFM_FOM_SEQ
        AND Z.MDFM_CLS_CD = 'D020' AND Z.MDFM_APY_CTRA_CD = 4)
        AND NOT EXISTS(SELECT 1 FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.WRT_STF_NO AND Z.OCTY_TP_CD = 'Z06')
        ORDER BY writingDate DESC, sortSeq
    </select>
    <select id="getSurgeryRecordListByCondition" parameterType="DetailRequestDTO" resultType="DetailResponseDTO">
        SELECT 'DR' AS recordType,
        A.MDFM_CLS_CD AS recordDetailType,
        COMN.COMN_CD_NM AS itemType,
        COMN.COMN_CD_NM AS itemNm,
        NVL(B.OP_DTM::DATE, A.MDF_REC_DTM::DATE) AS writingDate,
        A.WRTR_DEPT_CD AS writingDeptCd,
        DEPT.DEPT_NM AS writingDeptNm,
        A.WRT_STF_NO AS writerStfNo,
        STFF.STF_NM AS writerNm,
        NULL AS keyId,
        A.PACT_ID AS pactId,
        DECODE(A.PACT_TP_CD, 'I', '입원', 'O', '외래', 'E', '응급', NULL) AS pactTpCd,
        ROW_NUMBER()
        OVER (PARTITION BY TO_CHAR(A.MDF_REC_DTM, 'YYYY-MM-DD') ORDER BY A.REC_DTM DESC) AS sortSeq,
        NULL AS note,
        A.MDFM_ID AS mdfmId,
        A.MDFM_FOM_SEQ AS mdfmFomSeq,
        A.MDRC_ID AS mdrcId,
        A.MDRC_FOM_SEQ AS mdrcFomSeq,
        NULL AS examKey,
        NULL AS pacsImgIptnCd,
        NULL AS accsId,
        NULL AS recType,
        NULL AS geneExmYn,
        CASE WHEN A.MDRC_WRT_STS_CD <![CDATA[>]]> 10 THEN 'Y' END AS mdrcWrtStsCdYn,
        NULL AS opExptRegId
        FROM ODS.S_MRDDRECM A
        LEFT OUTER JOIN ODS.S_MRDDRONE B ON A.MDRC_ID = B.MDRC_ID AND A.MDRC_FOM_SEQ = B.MDRC_FOM_SEQ
        LEFT OUTER JOIN ODS.S_CCCCCSTE COMN ON COMN.COMN_GRP_CD = 'RDO062' AND A.MDFM_CLS_DTL_CD = COMN.COMN_CD
        LEFT OUTER JOIN ODS.S_PDEDBMSM DEPT ON A.WRTR_DEPT_CD = DEPT.DEPT_CD
        LEFT OUTER JOIN ODS.S_CNLRRUSD STFF ON A.WRT_STF_NO = STFF.STF_NO
        WHERE 1 = 1
        AND A.PT_NO = #{ptNo}
        AND A.MDFM_CLS_CD = 'D005'
        AND ((B.OP_DTM::DATE IS NOT NULL AND B.OP_DTM::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE)
        OR (B.OP_DTM::DATE IS NULL AND A.MDF_REC_DTM::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE))
        AND A.PACT_TP_CD = DECODE(#{pactTpCd}, 'ALL', A.PACT_TP_CD, #{pactTpCd})
        AND A.LST_YN = 'Y'
        AND A.MDRC_DC_TP_CD = 'C'
        AND B.OPRC_ELMT_CLS_CD = '17'
        <if test="deptType == 'MEDICAL'">AND A.PT_MED_DEPT_CD = #{deptCd}</if>
        <if test="deptType == 'WRITER'">AND A.WRTR_DEPT_CD = #{deptCd}</if>
        <if test="writerType == 'SELF'">AND A.WK_SID = #{writerStfNo}</if>
        <if test="writerType == 'SEARCH'">AND A.WK_STF_NO = #{writerStfNo}</if>
        AND NOT EXISTS(SELECT 1
        FROM ODS.S_MRFMFORM Z
        WHERE A.MDFM_ID = Z.MDFM_ID
        AND A.MDFM_FOM_SEQ = Z.MDFM_FOM_SEQ
        AND Z.MDFM_CLS_CD = 'D020'
        AND Z.MDFM_APY_CTRA_CD = 4)
        AND NOT EXISTS(SELECT 1 FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.WRT_STF_NO AND Z.OCTY_TP_CD = 'Z06')
        ORDER BY writingDate DESC, sortSeq
    </select>
    <select id="getDepartmentRecordListByCondition" parameterType="DetailRequestDTO" resultType="DetailResponseDTO">
        SELECT 'DR' AS recordType,
        A.MDFM_CLS_CD AS recordDetailType,
        COMN.COMN_CD_NM AS itemType,
        COMN.COMN_CD_NM AS itemNm,
        CASE
        WHEN A.MDFM_CLS_CD IN ('D001', 'D002', 'D003', 'D004', 'D031') THEN A.MED_DT
        ELSE A.MDF_REC_DTM::DATE END AS writingDate,
        A.WRTR_DEPT_CD AS writingDeptCd,
        DEPT.DEPT_NM AS writingDeptNm,
        A.WRT_STF_NO AS writerStfNo,
        STFF.STF_NM AS writerNm,
        NULL AS keyId,
        A.PACT_ID AS pactId,
        DECODE(A.PACT_TP_CD, 'I', '입원', 'O', '외래', 'E', '응급', NULL) AS pactTpCd,
        ROW_NUMBER()
        OVER (PARTITION BY TO_CHAR(A.MDF_REC_DTM, 'YYYY-MM-DD') ORDER BY A.REC_DTM DESC) AS sortSeq,
        NULL AS note,
        A.MDFM_ID AS mdfmId,
        A.MDFM_FOM_SEQ AS mdfmFomSeq,
        A.MDRC_ID AS mdrcId,
        A.MDRC_FOM_SEQ AS mdrcFomSeq,
        NULL AS examKey,
        NULL AS pacsImgIptnCd,
        NULL AS accsId,
        NULL AS recType,
        NULL AS geneExmYn,
        CASE WHEN A.MDRC_WRT_STS_CD <![CDATA[>]]> 10 THEN 'Y' END AS mdrcWrtStsCdYn,
        NULL AS opExptRegId
        FROM ODS.S_MRDDRECM A
        LEFT OUTER JOIN ODS.S_CCCCCSTE COMN ON COMN.COMN_GRP_CD = 'RDO062' AND A.MDFM_CLS_DTL_CD = COMN.COMN_CD
        LEFT OUTER JOIN ODS.S_PDEDBMSM DEPT ON A.WRTR_DEPT_CD = DEPT.DEPT_CD
        LEFT OUTER JOIN ODS.S_CNLRRUSD STFF ON A.WRT_STF_NO = STFF.STF_NO
        LEFT OUTER JOIN ODS.S_MRFMFORM FORM ON A.MDFM_ID = FORM.MDFM_ID AND A.MDFM_FOM_SEQ = FORM.MDFM_FOM_SEQ
        WHERE 1 = 1
        AND A.PT_NO = #{ptNo}
        AND A.MDFM_CLS_CD = 'D007'
        AND A.MDF_REC_DTM::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE
        AND A.PACT_TP_CD = DECODE(#{pactTpCd}, 'ALL', A.PACT_TP_CD, #{pactTpCd})
        AND A.LST_YN = 'Y'
        AND A.MDRC_DC_TP_CD = 'C'
        <if test="deptType == 'MEDICAL'">AND A.PT_MED_DEPT_CD = #{deptCd}</if>
        <if test="deptType == 'WRITER'">AND A.WRTR_DEPT_CD = #{deptCd}</if>
        <if test="writerType == 'SELF'">AND A.WK_SID = #{writerStfNo}</if>
        <if test="writerType == 'SEARCH'">AND A.WK_STF_NO = #{writerStfNo}</if>
        AND NOT EXISTS(SELECT 1 FROM ODS.S_CNLRRUSD Z WHERE Z.STF_NO = A.WRT_STF_NO AND Z.OCTY_TP_CD = 'Z06')
        ORDER BY writingDate DESC, sortSeq
    </select>
    <select id="getDepartmentListForDepartmentRecord" parameterType="DetailResponseDTO" resultType="java.lang.String">
        SELECT RCV_DEPT_CD
        FROM ODS.S_MRDDRCNE
        WHERE MDRC_ID = #{mdrcId}
          AND MDRC_FOM_SEQ = #{mdrcFomSeq}
        ORDER BY RER_SEQ
    </select>
    <select id="getDischargeRecordListByCondition" parameterType="DetailRequestDTO" resultType="DetailResponseDTO">
        SELECT 'DR' AS recordType
        , A.MDFM_CLS_CD AS recordDetailType
        , COMN.COMN_CD_NM AS itemType
        , COMN.COMN_CD_NM AS itemNm
        , NVL(B.DS_DT, A.MDF_REC_DTM::DATE) AS writingDate
        , A.WRTR_DEPT_CD AS writingDeptCd
        , DEPT.DEPT_NM AS writingDeptNm
        , A.WK_STF_NO AS writerStfNo
        , STFF.STF_NM AS writerNm
        , NULL AS keyId
        , A.PACT_ID AS pactId
        , DECODE(A.PACT_TP_CD, 'I', '입원', 'O', '외래', 'E', '응급', NULL) AS pactTpCd
        , ROW_NUMBER()
        OVER (PARTITION BY TO_CHAR(A.MDF_REC_DTM, 'YYYY-MM-DD') ORDER BY A.REC_DTM DESC) AS sortSeq
        , NULL AS note
        , A.MDFM_ID AS mdfmId
        , A.MDFM_FOM_SEQ AS mdfmFomSeq
        , A.MDRC_ID AS mdrcId
        , A.MDRC_FOM_SEQ AS mdrcFomSeq
        , NULL AS examKey
        , NULL AS pacsImgIptnCd
        , NULL AS accsId
        , NULL AS recType
        , NULL AS geneExmYn
        , CASE WHEN A.MDRC_WRT_STS_CD <![CDATA[>]]> 10 THEN 'Y' END AS mdrcWrtStsCdYn
        , NULL AS opExptRegId
        FROM ODS.S_MRDDRECM A
        LEFT OUTER JOIN (SELECT Q.PT_NO AS PT_NO
        , Q.PACT_ID AS PACT_ID
        , Q.DS_DTM AS DS_DT
        FROM ODS.S_ACPPRAAM Q
        WHERE Q.PT_NO = #{ptNo}
        UNION ALL
        SELECT Q.PT_NO AS PT_NO
        , Q.PACT_ID AS PACT_ID
        , Q.CHOT_DTM AS DS_DT
        FROM ODS.S_ACPPRETM Q
        WHERE Q.PT_NO = #{ptNo}
        ) B
        ON A.PT_NO = B.PT_NO
        AND A.PACT_ID = B.PACT_ID
        LEFT OUTER JOIN ODS.S_CCCCCSTE COMN ON COMN.COMN_GRP_CD = 'RDO062' AND A.MDFM_CLS_DTL_CD = COMN.COMN_CD
        LEFT OUTER JOIN ODS.S_PDEDBMSM DEPT ON A.WRTR_DEPT_CD = DEPT.DEPT_CD
        LEFT OUTER JOIN ODS.S_CNLRRUSD STFF ON A.WRT_STF_NO = STFF.STF_NO
        WHERE 1=1
        AND A.PT_NO = #{ptNo}
        AND A.MDFM_CLS_CD = 'D006' /* 퇴원기록 */
        AND A.PACT_TP_CD = DECODE(#{pactTpCd}, 'ALL', A.PACT_TP_CD, #{pactTpCd})
        <if test="deptType == 'MEDICAL'">AND A.PT_MED_DEPT_CD = #{deptCd}</if>
        <if test="deptType == 'WRITER'">AND A.WRTR_DEPT_CD = #{deptCd}</if>
        <if test="writerType == 'SELF'">AND A.WK_SID = #{writerStfNo}</if>
        <if test="writerType == 'SEARCH'">AND A.WK_STF_NO = #{writerStfNo}</if>
        AND A.LST_YN = 'Y'
        AND A.MDRC_DC_TP_CD = 'C'
        AND ((B.DS_DT::DATE IS NOT NULL AND
        B.DS_DT::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE AND
        A.PT_NO = B.PT_NO AND A.PACT_ID = B.PACT_ID)
        OR (B.DS_DT::DATE IS NULL AND
        A.MDF_REC_DTM::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE))
        AND NOT EXISTS(SELECT 'Y'
        FROM ODS.S_CNLRRUSD W
        WHERE W.STF_NO = A.WRT_STF_NO
        AND W.OCTY_TP_CD IN ('Z06')
        )
    </select>
    <select id="getAnesthesiaRecordListByCondition" parameterType="DetailRequestDTO" resultType="DetailResponseDTO">
        SELECT 'DR'                                                                     AS recordType
             , B.MDFM_CLS_CD                                                            AS recordDetailType
             , COMN.COMN_CD_NM                                                          AS itemType
             , COMN.COMN_CD_NM                                                          AS itemNm
             , A.OP_EXPT_DT                                                             AS writingDate
             , NULL                                                                     AS writingDeptCd
             , NULL                                                                     AS writingDeptNm
             , B.LSH_STF_NO                                                             AS writerStfNo
             , STFF.STF_NM                                                              AS writerNm
             , NULL                                                                     AS keyId
             , NULL                                                                     AS pactId
             , NULL                                                                     AS pactTpCd
             , ROW_NUMBER() OVER (PARTITION BY A.OP_EXPT_DT ORDER BY A.OP_EXPT_DT DESC) AS sortSeq
             , NULL                                                                     AS note
             , NULL                                                                     AS mdfmId
             , NULL                                                                     AS mdfmFomSeq
             , NULL                                                                     AS mdrcId
             , NULL                                                                     AS mdrcFomSeq
             , NULL                                                                     AS examKey
             , NULL                                                                     AS pacsImgIptnCd
             , NULL                                                                     AS accsId
             , NULL                                                                     AS recType
             , NULL                                                                     AS geneExmYn
             , 'Y'                                                                      AS mdrcWrtStsCdYn
             , A.OP_EXPT_REG_ID                                                         AS opExptRegId
        FROM ODS.S_MRDDRARD A
                 INNER JOIN ODS.S_MRDDRAFE B ON A.OP_EXPT_REG_ID = B.OP_EXPT_REG_ID AND B.AFCHG_ANRM_REC_VAL_ID IS NULL
                 INNER JOIN ODS.S_MOOOPPAM C ON C.OP_EXPT_REG_ID = A.OP_EXPT_REG_ID
                 LEFT OUTER JOIN ODS.S_CCCCCSTE COMN ON COMN.COMN_GRP_CD = 'RDO062' AND B.MDFM_CLS_DTL_CD = COMN.COMN_CD
                 LEFT OUTER JOIN ODS.S_CNLRRUSD STFF ON B.LSH_STF_NO = STFF.STF_NO
        WHERE 1 = 1
          AND A.PT_NO = #{ptNo}
          AND B.MDFM_CLS_CD IN
          <foreach collection="detailType" item="item" index="index" separator="," open="(" close=")">
              #{item}
          </foreach>
          AND A.LSH_DTM::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE
          AND B.LSH_DTM = (SELECT MAX(LSH_DTM)
                           FROM ODS.S_MRDDRAFE D
                           WHERE D.OP_EXPT_REG_ID = B.OP_EXPT_REG_ID
                             AND D.MDFM_CLS_CD = B.MDFM_CLS_CD
                             AND D.AFCHG_ANRM_REC_VAL_ID IS NULL)
        GROUP BY B.MDFM_CLS_CD, B.MDFM_CLS_DTL_CD, COMN.COMN_CD_NM, A.OP_EXPT_DT, B.LSH_STF_NO, STFF.STF_NM,
                 A.OP_EXPT_REG_ID
    </select>
    <select id="getOrderRecordListByCondition" parameterType="DetailRequestDTO" resultType="DetailResponseDTO">
        SELECT 'OR' AS recordType
        , 'OR' AS recordDetailType
        , '처방' AS itemType
        , '처방' || '(' || TO_CHAR(A.ORD_DT, 'YYYY-MM-DD') || ')' AS itemNm
        , A.ORD_DT AS writingDate
        , A.PT_HME_DEPT_CD AS writingDeptCd
        , DEPT.DEPT_NM AS writingDeptNm
        , NULL AS writerStfNo
        , NULL AS writerNm
        , NULL AS keyId
        , NULL AS pactId
        , DECODE(A.MED_PACT_TP_CD, 'I', '입원', 'O', '외래', 'E', '응급', NULL) AS pactTpCd
        , NULL AS sortSeq
        , NULL AS note
        , NULL AS mdfmId
        , NULL AS mdfmFomSeq
        , NULL AS mdrcId
        , NULL AS mdrcFomSeq
        , NULL AS examKey
        , NULL AS pacsImgIptnCd
        , NULL AS accsId
        , NULL AS recType
        , NULL AS geneExmYn
        , NULL AS mdrcWrtStsCdYn
        , NULL AS opExptRegId
        FROM ODS.S_MOOORPTD A
        LEFT OUTER JOIN ODS.S_PDEDBMSM DEPT ON A.PT_HME_DEPT_CD = DEPT.DEPT_CD
        WHERE 1=1
        AND A.PT_NO = #{ptNo}
        AND A.ORD_DT::DATE BETWEEN #{searchFromDate}::DATE AND #{searchToDate}::DATE
        AND A.PT_HME_DEPT_CD IS NOT NULL
        AND A.ODDSC_TP_CD IN ('C', 'D')
        AND A.ORD_GRP_CD NOT IN ('06', '08')
        <if test="deptType == 'MEDICAL'">AND A.PT_HME_DEPT_CD = #{deptCd}</if>
        <if test="deptType == 'WRITER'">AND A.PBSO_DEPT_CD = #{deptCd}</if>
        AND A.MED_PACT_TP_CD = DECODE(#{pactTpCd}, 'ALL', A.MED_PACT_TP_CD, #{pactTpCd})
        GROUP BY A.PT_NO, A.ORD_DT, A.PT_HME_DEPT_CD, DEPT.DEPT_NM, A.MED_PACT_TP_CD
    </select>
    <select id="getRecordFormInfo" parameterType="RecordFormInfoRequestDTO" resultType="RecordFormInfoResponseDTO">
        SELECT A.MDRC_ID AS mdrcId,
               A.MDRC_FOM_SEQ AS mdrcFomSeq,
               A.MDFM_CLS_CD AS mdfmClsCd,
               COMN.COMN_CD_NM AS itemType,
               TO_CHAR(MDF_REC_DTM, 'YYYY-MM-DD') AS writingDate,
               TO_CHAR(MDF_REC_DTM, 'YYYY-MM-DD HH:MI') AS writingDateTime,
               WRT_DEPT.DEPT_NM AS writingDeptNm,
               MED_DEPT.DEPT_NM AS medDeptNm,
               STFF.STF_NM AS writerNm
        FROM ODS.S_MRDDRECM A
                 LEFT OUTER JOIN ODS.S_CCCCCSTE COMN ON COMN.COMN_GRP_CD = 'RDO062' AND A.MDFM_CLS_DTL_CD = COMN.COMN_CD
                 LEFT OUTER JOIN ODS.S_PDEDBMSM WRT_DEPT ON A.WRTR_DEPT_CD = WRT_DEPT.DEPT_CD
                 LEFT OUTER JOIN ODS.S_PDEDBMSM MED_DEPT ON A.PT_MED_DEPT_CD = MED_DEPT.DEPT_CD
                 LEFT OUTER JOIN ODS.S_CNLRRUSD STFF ON A.WRT_STF_NO = STFF.STF_NO
        WHERE MDRC_ID = #{mdrcId} AND MDRC_FOM_SEQ = #{mdrcFomSeq}
    </select>
</mapper>
